meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Empaque, almacenamiento y transporte del plátano.
meta(meta name="description" content="El contenido de esta material permite al aprendiz conocer las características que deben tener los empaques y embalajes del plátano como producto fresco y procesado, y los diferentes factores condicionantes de los procesos de almacenamiento y transporte.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")