.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Agroindustria del plátano
            h1.curso-titulo Empaque, almacenamiento y transporte del plátano.

            .brand-line-primary

            p.curso-descripcion El contenido de esta material permite al aprendiz conocer las características que deben tener los empaques y embalajes del plátano como producto fresco y procesado, y los diferentes factores condicionantes de los procesos de almacenamiento y transporte. 

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")