#page-main-header.page-header.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo Agroindustria del pl치tano
                h1#curso-titulo-tema.curso-titulo Empaque, almacenamiento y transporte del pl치tano.

                .brand-line-primary

                .keywords
                    span.badge.badge-pill.badge-light.mr-2 #embalaje
                    span.badge.badge-pill.badge-light.mr-2 #protecci칩n
                    span.badge.badge-pill.badge-light.mr-2 #conservaci칩n

                .barra-dots.mt-5
                    img.img-fluid(src='assets/images/header/icon_dots.svg', alt='alt')



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg").curso-imagen
