include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0zIhmZk_890', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.mb-5 El proceso de empaque se considera un factor de gran importancia que juntamente con el almacenamiento y el transporte permiten conservar la calidad e inocuidad de los alimentos. Actualmente, estos procesos se encuentran sujetos a grandes transformaciones debido a los cambios en los mercados, a la globalización y al diseño de nuevos productos que requieren modernas tendencias en el envasado y embalaje, de tal manera que permitan cubrir los requerimientos de calidad y movilidad del producto.


                p.mb-5 De conformidad con lo anterior, surge la necesidad de conocer las características que deben tener los empaques y embalajes del plátano como producto fresco y procesado, así como los diferentes factores condicionantes de los procesos de almacenamiento y transporte; de tal manera que se seleccione la mejor opción para proteger, manipular, transportar y almacenar el producto.


