.container

  ol

    li
      p 
        | Agencia Ecuatoriana de Aseguramiento de la Calidad del Agro (Agrocalidad) y Ministerio de Agricultura del Ecuador. (Sin fecha). Manual de aplicabilidad de buenas prácticas agrícolas de banano.   <a href="http://www.agrocalidad.gob.ec/wp-content/uploads/pdf/inocuidad/manuales-aplicabilidad/manual-banano.pdf" target="_blank">http://www.agrocalidad.gob.ec/wp-content/uploads/pdf/inocuidad/manuales-aplicabilidad/manual-banano.pdf</a>    

    li
      p 
        | Barrera, V., Cardona, C. y Cayón, D. (2011). El cultivo de plátano (Musa AAB Simmonds): ecofisiología y manejo cultural sostenible.  <a href="https://editorialzenu.com/images/1467833541.pdf" target="_blank">https://editorialzenu.com/images/1467833541.pdf</a>    

    li
      p 
        | Corporación PBA. (2012). Cartilla manejo tecnológico del cultivo del plátano.        
        a(href="http://www.corporacionpba.org/portal/sites/default/files/Manejo%20tecnol%C3%B3gico%20del%20cultivo%20de%20pl%C3%A1tano.pdf", target="_blank") http://www.corporacionpba.org/portal/sites/default/files/Manejo%20tecnol%C3%B3gico%20del%20cultivo%20de%20pl%C3%A1tano.pdf 

    li
      p 
        | Flores del Valle, W. (2013). Manual técnico para el manejo poscosecha del plátano. Proyecto Fontagro FTG-7010/2007. Bioversity International. 
        a(href="https://studylib.es/doc/5080134/manual-t%C3%A9cnico-para-el-manejo-poscosecha-del-pl%C3%A1tano", target="_blank") https://studylib.es/doc/5080134/manual-t%C3%A9cnico-para-el-manejo-poscosecha-del-pl%C3%A1tano 

    li
      p 
        | Fundación El Alcaraván y Programa Nacional de Transferencia de Tecnología Agropecuaria (PRONATTA). (1999). Manejo pos-cosecha del plátano. 
        a(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/4704/1/Manejo%20poscosecha%20del%20platano.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/4704/1/Manejo%20poscosecha%20del%20platano.pdf 

    li
      p 
        | Lardizabal, R. (2007). Manual de producción de plátano de alta densidad.       
        a(href="http://santic.rds.hn/wp-content/uploads/2013/06/Manual-de-Produccion-de-Platano_05_07.pdf", target="_blank") http://santic.rds.hn/wp-content/uploads/2013/06/Manual-de-Produccion-de-Platano_05_07.pdf                

    li
      p 
        | López, N., Villegas, V. Y Arango, R. (2014). Evaluación de incidencia y pérdidas ocasionadas por virus que afectan cultivos de plátano y banano (Musa spp.) en la zona central cafetera. Agron, 22(1), 22-35.                                         

    li
      p 
        | Ministerio de Agricultura y Desarrollo Rural y Observatorio Agrocadenas Colombia. (2005). Documento de Trabajo No. 61: la cadena del plátano en Colombia una mirada global de su estructura y dinámica 1991-2005.      
        a(href="http://www.asohofrucol.com.co/archivos/cadenas/platano.pdf", target="_blank") http://www.asohofrucol.com.co/archivos/cadenas/platano.pdf      

    li
      p 
        | Palencia, G., Gómez, R. y Martín J. (2006). Manejo sostenible del plátano. Editorial Produmedios.
  

    li
      p 
        | Orozco, M. R. y Chaverra, C. (1999). Curso de actualización tecnológica en el cultivo del plátano con énfasis en poscosecha.     
        a(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/4105/1/20061127143834_Actualizacion%20tecnologia%20en%20platano.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/4105/1/20061127143834_Actualizacion%20tecnologia%20en%20platano.pdf   

    li
      p 
        | Ramos, E. L., Pérez, L., López, J., Rodríguez, P. A., Reyes, J. A., Domínguez, E., Perea, S y Ledesma, J. M. (2010). Evaluación del embolsado de racimos de plátanos como barrera física frente a pulverizaciones insecticidas.     
        a(href="http://www.agrocabildo.org/publica/Publicaciones/subt_354_embolsado.pdf", target="_blank") http://www.agrocabildo.org/publica/Publicaciones/subt_354_embolsado.pdf                   