include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 6. Fisiología del plátano

    .jumbotron.bg-white.my-5
        .row.align-items-center
            .col-12.col-md-4
                figure
                    img(src="assets/images/pages/tema-6/platano-1.svg").img-fluid

            .col-12.col-md-8
                p El plátano es un fruto climatérico, es decir, que comienza el proceso de maduración, una vez ha sido desprendido de la planta, de tal manera que se puede cosechar cuando aún está verde (preclimaterio).

                p Mientras ocurre el proceso de maduración, se experimenta un aumento en la respiración y producción de etileno (C2H4), logrando un punto superior (climaterio) hasta terminar la maduración, marcando el periodo máximo de consumo; luego se presenta la senescencia donde la respiración y la producción de etileno decrece, tornándose el fruto sobremaduro. Estos procesos fisiológicos están influenciados por los siguientes factores internos y externos:


    .header-arrow.my-5
        h2.text-center Factores que intervienen en los procesos fisiológicos del fruto de plátano        

    p.text-center.my-5.py-5
        img(src="assets/images/pages/tema-6/tabla-factores.svg").img-fluid         


    .jumbotron.bg-white

        p En los productos climatéricos los cambios fisiológicos de la maduración son estimulados por el etileno, por esta razón se les debe realizar un manejo óptimo para evitar que se presente rápidamente la senescencia y este pierda parte de su valor comercial. 


        .subtitulo-ecored.mt-5.mb-1
            h3
                span.number Preclimaterio

        ul
            li Desde la cosecha hasta el punto máximo de respiración.
            li Frutos verdes.
            li Textura rígida.
            li Pulpa con alto contenido de almidón.
            li Actividad metabólica baja.


        .subtitulo-ecored.mt-5.mb-1
            h3
                span.number Climaterio

        ul
            li Máxima respiración y producción de etileno.
            li Pérdida de color verde. 
            li Cáscara amarilla.
            li Pulpa blanda con alto contenido de sacarosa, glucosa y fructosa.
            li Marca el fin del periodo óptimo de consumo.

        .subtitulo-ecored.mt-5.mb-1
            h3
                span.number Senescencia

        ul
            li Descenso en la tasa de respiración y producción de etileno
            li Pérdida de peso Oscurecimiento y deterioro de la cáscara
            li Pulpa muy blanda con sabores a fermento.                      


    p.my-5 Otro fenómeno que ocurre simultáneamente con la respiración durante la fase de desarrollo del plátano, en la maduración y en la senescencia, es la transpiración; esta consiste en la pérdida de agua en forma de vapor a través de los estomas, los cuales son poros muy pequeños que tiene la cáscara, lo que representa pérdida de peso y consistencia. 

    .jumbotron.bg-brand-color-light-more
        .row.justify-content-center.align-items-center
            .col-auto
                img(src="assets/images/pages/tema-6/icono-platano-1.svg", style="max-width: 120px").img-fluid
            .col-10
                p.text-left.mb-0 El duelo es un proceso que se lleva a cabo después de una pérdida, ya sea de una persona querida, de un empleo, de una relación, de un objeto etc. Es un proceso necesario, universal y doloroso. Lo importante es integrarlo en la vida y restablecer una relación con él.

    p.my-5 Dentro de los procesos metabólicos que se producen en los frutos después de cosechados, la respiración es de los más significativos, porque genera importantes cambios físicos y bioquímicos, tales como: la variación del peso, el volumen, la firmeza, el desarrollo de azúcares, ácidos, etc., que integralmente contribuyen en su calidad y su posterior conservación. 

    p.my-5 Luego, el proceso de respiración es utilizado como indicador del potencial de deterioro del plátano, del tiempo de vida poscosecha y del manejo requerido; por tal razón, al analizar esta transformación, se pueden desarrollar técnicas que permitan disminuir la velocidad respiratoria y aumentar el tiempo de vida del plátano.     