include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container


    .header-ecored
        h1 3. Almacenamiento


    .jumbotron.bg-white.my-5
        p El almacenamiento es una labor que permite conservar de manera segura los alimentos reduciendo las posibilidades de deterioro, contaminación y crecimiento de microorganismos, para garantizar la permanencia de las propiedades del producto cosechado hasta su distribución y comercialización.

        p.text-center.my-5.py-5
            img(src="assets/images/pages/tema-3/caja_platano.jpg").img-fluid 

        p El proceso de cosecha inicia desde días antes del corte, con la identificación de los racimos que cumplen las condiciones de madurez, involucra además su recolección y transporte hasta el lugar de beneficio y empaque. Es considerada una de las labores más importantes del cultivo, ya que esta refleja las labores técnicas aplicadas en la plantación. Por tal razón, se debe realizar cuidadosamente porque de ella depende la rentabilidad del cultivo.
    

    .header-arrow.my-5
        h2.text-center Condiciones para el almacenamiento
    

    .jumbotron.bg-white.my-5
        p El plátano es un fruto climatérico, por lo cual continúa su maduración después de cosechado, para retardar este proceso y alargar la vida útil del producto hasta 5 semanas, de acuerdo a los requerimientos del mercado. Este debe almacenarse teniendo en cuenta los siguientes criterios:

        ul
            li.mb-3 Temperatura de 13 a 15 °C: temperaturas inferiores causan serios deterioros como el daño por frío, generando el ennegrecimiento de la cáscara, la cual se pega a la pulpa, formando áreas duras y blandas en la misma, afectando su comercialización. Mientras las temperaturas superiores favorecen la maduración.

            li.mb-3 Humedad relativa de 85 a 95%: para controlar la humedad relativa y disminuir la intensidad de la transpiración o pérdida de agua, durante el almacenamiento, el producto puede ser empacado en bolsas plásticas de polietileno y almacenarlos en una bodega a temperatura ambiente o refrigerados (SENA et al, 2004).

            li.mb-3 Atmósfera controlada de 2-5 % de O<sub>2</sub> y 2-5 % de CO<sub>2</sub>.

            li.mb-3 Estrictas condiciones de asepsia. Por lo que se debe tener especial cuidado en mantener las áreas limpias, con ingresos controlados por parte de los operarios, para evitar contaminación cruzada.

            li.mb-3 Tener asignadas áreas específicas para plátanos verdes y maduros evitando la mezcla de los mismos. 

            li.mb-3 Llevar control y registro de entradas y salidas del producto.