include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1.3 Tipos de empaques y embalajes

    .jumbotron.bg-white

        p La elección del material de los empaques está en función de la forma en que se desea comercializar el producto y las especificaciones del mercado; para el caso del plátano se debe considerar si su comercialización es como fruto fresco o procesado. 


        .header-arrow.my-5
            h3.text-center Comercialización del plátano como fruto fresco


        .row.justify-content-center.align-items-center.my-5
            
            .col-12.col-md-8
                p Existen varios tipos de empaques según el mercado destino, los cuales pueden ser: en canastillas plásticas, cajas de cartón, o bolsas de polietileno con perforaciones. Para lo cual se debe tener en cuenta (Gobernación del Tolima, Universidad de Ibagué, Universidad del Tolima y SENA Regional Tolima, 2017):


            .col-12.col-md-4
                img(src="assets/images/pages/tema-1/caja.svg").img-fluid.mb-3.mb-md-0

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/infografia-1.svg",style="width:100%; max-width: 500px;").img-fluid.mb-3.mb-md-0


        .header-arrow.my-5
            h3.text-center Empaques para productos derivados del plátano


        p.mb-5 "Existe una gran diversidad de materiales de empaques, los cuales se deben seleccionar de acuerdo a varios criterios”. (PROCOLOMBIA, 2016). Sin embargo, también aplican para la selección de embalajes:

        .row.justify-content-between.align-items-start.mt-5
            .col-12.col-lg-6


                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Propiedades de protección</strong><br> Dependiendo de las características del producto, este requiere de impermeabilidad de gases, agua, humedad, aislamiento térmico, penetración de rayos ultravioletas, aislamiento de luz y otros agentes externos.

                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Compatibilidad del producto a contener</strong><br> El material no debe interactuar con el producto a contener, ni modificar sus características. Así como el producto no debe afectar las características del material y por ende, hacer variar sus propiedades. Los productos envasados no deben tomar olores ni sabores del material que los contiene.


                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Resistencia mecánica</strong><br> Dependiendo del producto, el material debe ser resistente a la compresión, tracción, fricción e impacto de penetración.


                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Propiedades de estabilidad</strong><br> Se refiere a los cambios que puede presentar en su estructura debido al contacto del producto con agentes externos. Algunos materiales presentan cambios en su estructura al pasar de unas condiciones a otras.


                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Operacionalidad</strong><br> Se refiere a la capacidad del material de ser operado dentro de la línea de empacado.


                hr



            
            .col-12.col-lg-6

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Aspectos mercadológicos</strong><br> Facilidad de impresión, brillo, trasparencia y claridad; además de que se adapta a las necesidades del consumidor en cuanto a tamaño, ergonomía y calidad.


                hr 

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Aspectos económicos</strong><br> Costes de materiales, de almacenamiento y de producción. El material de empaque del producto terminado puede tener un costo tal que la utilización sea poco rentable.


                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Aspectos legales</strong><br> Legislación y normativa vigente en cuanto al uso del material de empaque en los países de destino; por ejemplo, los empaques de PVC no son permitidos en Alemania.


                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Disponibilidad</strong><br> Se debe confirmar con los proveedores, la disponibilidad de los materiales de empaque a utilizar. Si se selecciona un material para un empaque difícil de conseguir, esto va a generar complicaciones en el proceso de empacado.


                hr

                p.header-step
                    span.header-step-number.header-step-title--sm <i class="fa fa-circle" aria-hidden="true"></i>
                    span <strong>Aspectos ambientales</strong><br> Se debe tener en cuenta la calidad de los materiales, las condiciones de reutilización y reciclaje y los sistemas de manejo posconsumo. Por lo anterior, se requiere que los empaques y embalajes se encuentren identificados a través de símbolos que permitan identificar el tipo de material para su respectivo uso, reutilización, reciclaje o disposición final.


                hr        


        .header-arrow.my-5
            h3.text-center A continuación, se presentan las principales características de los materiales de los empaques:


        .header.mt-md-5
            .header-body
                // Title
                h2.header-title
                    | Características de los empaques de metal
                // Subtitle
                p.header-subtitle
                    | Descripción, ventajas y desventajas

        .row.justify-content-center
            .col-12.col-md-10

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/tema-1/metal-1.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/metal-2.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/metal-3.svg', alt='...')
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next            
                
        .header.mt-md-5
            .header-body
                // Title
                h2.header-title
                    | Características de los empaques de plástico
                // Subtitle
                p.header-subtitle
                    | Descripción, ventajas y desventajas

        .row.justify-content-center
            .col-12.col-md-10

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/tema-1/plastico-1.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/plastico-2.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/plastico-3.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/plastico-4.svg', alt='...')
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next            
                

        .header.mt-md-5
            .header-body
                // Title
                h2.header-title
                    | Características de los empaques de vidrio
                // Subtitle
                p.header-subtitle
                    | Descripción, ventajas y desventajas

        .row.justify-content-center
            .col-12.col-md-10

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/tema-1/vidrio-1.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/vidrio-2.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/vidrio-3.svg', alt='...')
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next                   

        .header.mt-md-5
            .header-body
                // Title
                h2.header-title
                    | Características de los empaques de papel
                // Subtitle
                p.header-subtitle
                    | Descripción, ventajas y desventajas

        .row.justify-content-center
            .col-12.col-md-10

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/tema-1/papel-1.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/papel-2.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/papel-3.svg', alt='...')
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next                           

        .header.mt-md-5
            .header-body
                // Title
                h2.header-title
                    | Características de los empaques de cartón
                // Subtitle
                p.header-subtitle
                    | Descripción, ventajas y desventajas

        .row.justify-content-center
            .col-12.col-md-10

                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/tema-1/carton-1.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/carton-2.svg', alt='...')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/tema-1/carton-3.svg', alt='...')
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next                           