include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 6.1 Cambios fisicoquímicos


    p Una vez el plátano es retirado de la planta, la fotosíntesis cesa porque ya no recibe más agua ni nutrimentos. Sin embargo, el proceso de respiración y maduración continúa junto con otras reacciones enzimáticas, las cuales generan cambios físicos y químicos tales como ablandamiento de tejidos, degradación de la clorofila, de azúcares, así como cambios en la acidez. Esta gran actividad metabólica de síntesis está influenciada principalmente por la temperatura ambiental. (Echeverry y Castellanos, 2002)

    .jumbotron.bg-brand-color-dark-light.my-5
        .row.justify-content-center.align-items-center
            .col-auto
                img(src="assets/images/pages/tema-6/icono-platano-2.svg", style="max-width: 120px").img-fluid
            .col-10
                p.text-left El conocimiento acerca de la evolución de las características físico-químicas en las frutas es de máxima importancia, ya que estos factores, determinan aspectos relevantes como la calidad y los índices de madurez.

                p.text-left 
                    strong Los aspectos físicos del plátano como su peso, color, aroma y sabor, dependen de la variedad y la variación de las condiciones ambientales en las zonas de producción y de almacenamiento tales como: temperatura, humedad relativa, concentración de CO<sub>2</sub>, O<sub>2</sub> y etileno.
                    | Durante la maduración se presentan cambios en el fruto en los aspectos mencionados anteriormente y cuando se alcanza el máximo de maduración, ocurren los mayores cambios en la composición del plátano.

    .subtitulo-ecored.mb-1
        h2
            span.number 6.1.1
            span Peso

    .jumbotron.bg-white.my-5
        .row.align-items-center
            .col-12.col-md-4
                figure
                    img(src="assets/images/pages/tema-6/peso.svg").img-fluid

            .col-12.col-md-8
                p En el plátano el mayor componente es el agua, el cual tiene la mayor influencia en el peso del mismo. El peso promedio del fruto y el contenido de humedad después de la cosecha, disminuye durante el proceso natural de maduración, donde el peso de la pulpa aumenta producto de la hidrólisis del almidón y el desplazamiento osmótico del agua desde la cáscara hasta la pulpa; mientras que el peso de la cáscara disminuye, incrementándose la relación pulpa: cáscara; por efecto de la transpiración el cual acelera la maduración, reduciendo la etapa preclimatérica del fruto. Es decir, que dicho efecto se convierte también en un indicador de la consistencia o firmeza del fruto. (Echeverry y Castellanos, 2002) 


    .jumbotron.bg-brand-color-light-more.my-5
        p La temperatura es uno de los factores ambientales que tiene gran influencia sobre el peso desde la etapa de crecimiento y desarrollo del racimo, pero además la pérdida del peso fresco es propio de los procesos metabólicos de la respiración y transpiración que se presentan durante la poscosecha, siendo mayor en los frutos que se desarrollan en zonas cálidas y secas.

    .subtitulo-ecored.mb-1
        h2
            span.number 6.1.2
            span Color

    .jumbotron.bg-white.my-5
        .row.align-items-center
            .col-12.col-md-4
                figure
                    img(src="assets/images/pages/tema-6/color.svg").img-fluid

            .col-12.col-md-8
                p El color es uno de los principales indicadores de la etapa de maduración en la poscosecha. El cambio de color en el fruto del plátano se da por la destrucción de la clorofila y el desarrollo de otros pigmentos presentes. Durante este proceso los cloroplastos se transforman en cromoplastos ricos en carotenoides y se origina una acumulación de antocianinas y de compuestos aromáticos. 

                blockquote  “Basado con una escala de color propuesta por Loesecke (1950) para definir los estados de maduración del banano Gros Michel según el color de los frutos, se ha adaptado para el plátano Dominico-Hartón la siguiente escala de maduración”. (Echeverry y Castellanos, 2002)


    .header-arrow.my-5
        h2.text-center Grados de maduración del plátano 

    p.text-center.my-5.py-5
        img(src="assets/images/pages/tema-6/tabla-grados.svg").img-fluid                 


    p La fase de maduración de los frutos de plátano está influenciada por la temperatura, la precipitación y por la concentración de agua en la pulpa y cáscara; así, los frutos desarrollados en época seca maduran más rápido que los de temporada lluviosa. 

    p De acuerdo con las preferencias del mercado, la comercialización del plátano se puede realizar en racimos, manos y frutos. Estas presentaciones influyen en la vida útil del producto; así los que se venden en racimos demoran más días para alcanzar el color amarillo (A), mientras que, si están sueltos, el color se alcanza en menos días, lo que demuestra que el raquis tiene una función fisiológica de sostenimiento metabólico de los frutos. (Echeverry y Castellanos, 2002)


    .subtitulo-ecored.mb-1
        h2
            span.number 6.1.3
            span Aroma y sabor

    .jumbotron.bg-white.my-5
        .row.align-items-center
            .col-12.col-md-4
                figure
                    img(src="assets/images/pages/tema-6/aroma-sabor.svg").img-fluid

            .col-12.col-md-8
                p El aroma y el sabor que caracteriza a los plátanos maduros se debe a la combinación de compuestos volátiles, principalmente ésteres, alcoholes, aldehídos, cetonas y compuestos fenólicos. En la fase de maduración, la emisión de aromas se incrementa hasta que la cáscara se torna oscura. El sabor amargo de los plátanos inmaduros se debe a la astringencia de los compuestos fenólicos tales como flavanos (aportan astringencia) y flavonas (aportan amargor) presentes en los vasos de látex de la pulpa y la cáscara; pero estos luego van disminuyendo con la maduración. El oscurecimiento de la pulpa está asociado a la oxidación enzimática de los compuestos fenólicos por parte de la enzima polifenol oxidasa, esta enzima se encuentra en mayor cantidad en la cáscara que en la pulpa. (Echeverry y Castellanos, 2002)