include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 6.2 Composición nutricional


    .jumbotron.bg-white.my-5
        .row.justify-content-center.align-items-center
            .col-auto
                img(src="assets/images/pages/tema-6/icono-platano-3.svg", style="max-width: 120px").img-fluid
            .col-10
                p.text-left Mediante el proceso de maduración se presentan importantes cambios en la composición química de los frutos de plátano como resultado de la gran actividad metabólica de síntesis, degradación y participación de compuestos en la pulpa y cáscara. A continuación, se presentan la composición nutricional del plátano.


    p.header-step.mt-5
        span.header-step-number.mr-1 01
        span.header-step-title
            strong Almidón
    
    p El almidón es el carbohidrato que predomina en el fruto del plátano, el cual es sintetizado a partir de la sacarosa presente en la pulpa, que proviene en su mayoría de la fotosíntesis foliar.

    p Una vez cosechado el plátano (verde), durante la fase de maduración el almidón es hidrolizado hasta convertirse en azucares solubles; es decir, que se presenta una disminución en el contenido de almidón producto de su transformación, aumentando el contenido de fructosa, glucosa y sacarosa en la pulpa del fruto; por lo cual la concentración de almidón varía según el estado de madurez del fruto. El resultado de dicha transformación influye en el sabor, la textura y consistencia del fruto; haciéndolo más dulce y con mayor aceptabilidad.

    hr.line-100.bg-brand-color-dark-light.my-5

    p.header-step
        span.header-step-number.mr-1 02
        span.header-step-title
            strong Azúcares
        
    p El contenido de azúcares es otra fuente de carbohidratos, que varía según el estado de desarrollo y nutrición, teniendo gran influencia la variedad del plátano. La generación de azúcares a partir de la transformación del almidón es ocasionada por la acción de enzimas amilasas y el almidón fosforilasa. En el proceso de maduración se sintetizan los azúcares evidenciándose un incremento en su contenido a través de los diferentes estados de maduración. 


    hr.line-100.bg-brand-color-dark-light.my-5

    p.header-step
        span.header-step-number.mr-1 03
        span.header-step-title
            strong Ácidos

    p Durante el proceso de maduración, algunos ácidos orgánicos como es el caso del ácido málico, son convertidos en azúcares; por lo que se consideran como otra reserva energética que contiene el fruto. Estos se incrementan desde el preclimaterio hasta el climaterio y desciende en el estado sobremaduro o senescencia. Es decir que la concentración de acidez está altamente relacionada con el sabor que toma el fruto durante el proceso de maduración y con los azúcares presentes en este. (Arcila, Giraldo, Celis y Duarte, 2002)

    hr.line-100.bg-brand-color-dark-light.my-5


    p.header-step
        span.header-step-number.mr-1 04
        span.header-step-title
            strong Minerales

    p Los frutos del plátano contienen minerales y sus componentes principales son el potasio y el magnesio, entre otros como sodio, potasio, calcio, hierro etc. Se estima que la mayor concentración de minerales se encuentra en la cáscara y el raquis, por lo que estos subproductos tienen un gran potencial de uso como fuente de abono orgánico y como materia prima para la elaboración de alimentos para animales o productos industriales. (Cayón y Bolaños, 1999)

    hr.line-100.bg-brand-color-dark-light.my-5


    p.header-step
        span.header-step-number.mr-1 05
        span.header-step-title
            strong Fibra

    p La pulpa de los frutos de plátano contiene bajas concentraciones de fibra, la cual permanece sin variación durante la fase de maduración. Sus componentes principales son la celulosa y la hemicelulosa, particularmente, el contenido de fibra del plátano es mayor en la cáscara que en la pulpa.

    hr.line-100.bg-brand-color-dark-light.my-5

    p.header-step
        span.header-step-number.mr-1 06
        span.header-step-title
            strong Vitaminas

    p Los frutos del plátano son ricos en vitaminas, particularmente en vitamina A, y en menor proporción, vitamina C, vitamina B1 (Tiamina), vitamina B2 (Riboflavina) y vitamina B3 (Niacina), entre otras.

    hr.line-100.bg-brand-color-dark-light.my-5

    p.header-step
        span.header-step-number.mr-1 07
        span.header-step-title
            strong Lípidos

    p Presentan bajo contenido de lípidos permaneciendo constante durante el proceso de maduración. La concentración total de lípidos en la pulpa fresca es menor que en la cáscara. 

    hr.line-100.bg-brand-color-dark-light.my-5    