include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1.2 Embalajes

 

    .jumbotron.bg-white

        p “Son elementos destinados a proteger un conjunto de unidades de productos como unidad de carga, adecuándolos temporalmente para su manipulación, cargue y descargue, transporte interno y externo, entre otros, además de permitir su conservación en depósitos o almacenes”. (Cámara de Comercio de Bogotá, 2016). Están orientados hacía la logística de la empresa.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/embalaje-1.svg",style="width:100%; max-width: 500px;").img-fluid.mb-3.mb-md-0

        .header-arrow.my-5
            h3.text-center Diferencia entre empaque y embalaje
 

        .row.my-5.justify-content-center
            .col-12.col-md-4
                .card
                    .p-4
                        img(src="assets/images/pages/tema-1/empaque-5.svg",style="height: 215px").img-fluid
                    .card-body.mt-0
                        strong Empaque 
                        ul
                            li Es el que contiene el producto.
                            li Es la presentación del producto para la venta.
                            li Se selecciona inicialmente pensando en el consumidor.
                            li Está orientado hacia el marketing de la empresa.
            .col-12.col-md-4
                .card
                    .p-4
                        img(src="assets/images/pages/tema-1/embalaje-2.svg", style="height: 215px").img-fluid
                    .card-body.mt-0
                        strong Embalaje 
                        ul
                            li Contiene el producto empacado. 
                            li Es la protección del producto durante el transporte y/o almacenamiento.
                            li Se selecciona pensando en su manipulación para el cargue y descargue.
                            li Está orientado hacia la logística de la empresa

        p.my-5 Sin embargo, en algunas ocasiones el empaque cumple también la función de embalaje, dependiendo el tamaño y tipo de producto, como es el caso de la comercialización del plátano en fresco, cuando este es presentado en cajas o canastillas.


        h3.my-4 Objetivos de los embalajes

        p.my-5 Los principales objetivos de los embalajes son:

        p.text-center
            img(src="assets/images/pages/tema-1/objetivos-embalaje.svg").img-fluid.mb-3.mb-md-0              