//Colores base del material de formación
$brand-color-dark: rgba(141, 110, 99,0.35);
$text-color-dark: $primary;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #FFE082;
$text-color-light: $primary;
$brand-color-secondary: rgba(128, 203, 196, 0.4);