mixin pageHeader(tituloTema, srcImagen)
    .page-header.mb-5

        .container

            .row.align-items-center

                .col-12.col-lg-6

                    h3#curso-titulo-componente.curso-subtitulo Agroindustria del plátano
                    h1#curso-titulo-tema.curso-titulo Empaque, almacenamiento y transporte del plátano.

                    .brand-line-primary

                    .keywords
                        span.badge.badge-pill.badge-light.mr-2 #embalaje
                        span.badge.badge-pill.badge-light.mr-2 #protección
                        span.badge.badge-pill.badge-light.mr-2 #conservación


                    .barra-dots.mt-5
                        img.img-fluid(src='assets/images/header/icon_dots.svg', alt='alt')


                .col-12.col-lg-6
                    .d-none.d-lg-block
                        img(src= srcImagen).curso-imagen


mixin navTemaItem(numero, titulo, ruta)
    li.list-group-item.nav-tema-item
        .row.align-items-center
            if numero == 'play'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-play
            else if numero == 'question'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-question
            else if numero == 'text'
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold 
                            i.fa.fa-file-text-o
            else
                .col-auto
                    .avatar.avatar-sm
                        span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold= numero

            .col.ml-n2
                span.nav-tema-item__titulo 
                    a(href= ruta)= titulo
            .col-auto                                            
                a(href= ruta).btn.btn-light.nav-tema-item__btn
                    | Ver más
    
    
mixin creditosFooter(ruta)
    footer#Creditos.footer
        .container

            h1 Créditos               
            .brand-line-primary

            .row
                .col-12.col-md-5
                    h3.footer-subtitulo Contenido Instruccional

                    p.footer-texto.mb-2
                        | #[strong Gloria Matilde Lee Mejía	 ]<br/>   
                        span.text-small Responsable del equipo

                    p.footer-texto
                        span.text-small.text-uppercase Centro de Comercio y Servicios
                        br
                        span.text-small Regional Tolima


                    p.footer-texto.mb-2
                        | #[strong Rafael Nelftalí Lizcano Reyes]<br/>               
                        span.text-small Asesor pedagógico<br/>

                    p.footer-texto
                        span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                        br
                        span.text-small Regional Santander    

                    p.footer-texto.mb-2
                        | #[strong Andrés Felipe Velandia Espitia]<br/>   
                        span.text-small Diseñador instruccional<br/>
                        | #[strong Angela Viviana Paéz Perilla]<br/>   
                        span.text-small Desarrollador de contenido<br/>

                    p.footer-texto
                        span.text-small.text-uppercase Centro Agroindustrial
                        br
                        span.text-small Regional Quindío

                    p.footer-texto.mb-2
                        | #[strong Andrea Patiño Villarraga]<br/>   
                        span.text-small Desarrollador de contenido<br/>

                    p.footer-texto
                        span.text-small.text-uppercase Centro de Gestión Desarrollo Sostenible Surcolombiano
                        br
                        span.text-small Regional Huila






                        
                .col-12.col-md-5
                    h3.footer-subtitulo Diseño y desarrollo de recursos educativos digitales
                    
                    p.footer-texto
                        | #[strong Francisco José Lizcano Reyes ]<br/>   
                        span.text-small Responsable del equipo<br/>

                    p.footer-texto                           
                        | #[strong Yazmin Rocio Figueroa Pacheco]<br/>  
                        | #[strong Nelson Iván Vera Briceño ]<br/>
                        | #[strong Daniel Ricardo Mutis Gómez]<br/>
                        | #[strong Camilo Andrés Villamizar Lizcano]<br/>
                        | #[strong José Jaime Luis Tang Pinzón]<br/>                        
                        | #[strong Eulises Orduz Amezquita]<br/>                                              
                        span.text-small Diseño Web & Producción Audiovisual<br/>

                    p.footer-texto
                        | #[strong Edgar Mauricio Cortés]<br/>
                        | #[strong Magdi Khalifah Gamboa]<br/>     
                        | #[strong Leyson Fabián Castaño Pérez]<br/>                                         
                        span.text-small Desarrollo Front-End<br/>

                    p.footer-texto
                        span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                        br
                        span.text-small Regional Santander                   

                    h3.footer-subtitulo.mt-5 Gestores de repositorio
                    
                    p.footer-texto
                        | #[strong Kely Alejandra Quiros Duarte ]<br/>   
                        span.text-small Administrador repositorio de contenidos y gestores de repositorio.<br/>

                    p.footer-texto
                        span.text-small.text-uppercase Centro de comercio y servicios  
                        br
                        span.text-small Regional Tolima

                .col-12.col-md-2  
                    .d-flex.flex-column.justify-content-center
                        img(src= ruta)

    section#cc
        .container
            .d-flex.flex-column.flex-sm-row
                span.pr-3
                    i.icon.cc
            
                span
                    | Este material puede ser distribuido, copiado y exhibido por terceros si se muestra en los créditos. No se puede obtener ningún beneficio comercial y las obras derivadas tienen que estar bajo los mismos términos de la licencia que
                    | el trabajo original.